<mat-sidenav-container>  

        <button mat-button class="menu-button menu-button-home">
            <mat-icon>home</mat-icon>
        </button> 
               
        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
        </button>

        <button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
        </button>

        <button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
        </button>

        <button mat-button class="menu-button ellipse-button info2">
            <mat-icon>info</mat-icon>
        </button>

        <button mat-button class="menu-button ellipse-button info">
            <mat-icon>info</mat-icon>
        </button>

        <mat-divider class="sidebar-divider"></mat-divider>

        <button mat-button class="menu-button ellipse-button sidebar-footer">
            <mat-icon>help</mat-icon>
        </button>     
   
</mat-sidenav-container>