<mat-sidenav-container>  

    <button mat-button class="menu-button menu-button-home">
        <mat-icon>home</mat-icon>
    </button> 
           
    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
        <mat-icon>person</mat-icon>
    </button>

    <button mat-button class="menu-button" [mat-menu-trigger-for]="menu" fxHide="false">
        <mat-icon>person</mat-icon>
    </button>

    <button mat-button class="menu-button">
        <mat-icon>person</mat-icon>
    </button>

    <button mat-button class="menu-button">
        <mat-icon>person</mat-icon>
    </button>

    <button mat-button class="menu-button" [mat-menu-trigger-for]="menu" fxHide="false">
        <mat-icon>person</mat-icon>
    </button>

    <button mat-button class="menu-button">
        <mat-icon>person</mat-icon>
    </button>

    <button  mat-mini-fab class="my-fab info2">
        <mat-icon>person</mat-icon>
    </button>

    <button  mat-mini-fab class="my-fab info">
        <mat-icon>person</mat-icon>
    </button>

    <mat-divider class="sidebar-divider"></mat-divider>

    <button mat-button class="menu-button ellipse-button sidebar-footer">
        <mat-icon>help</mat-icon>
    </button>  

    <mat-menu  #menu="matMenu" class="customize" xPosition="after" >
        <a class="aSubMenu" >Devices</a>
        <button class="buttonMenu" mat-menu-item>Dashbord</button>
        <button class="buttonMenu" mat-menu-item>Configuration</button>
    </mat-menu>

</mat-sidenav-container>







  
  
  
  