::ng-deep .customize {
    background: #4D666A;
    box-shadow: 4px 4px 22px rgba(52, 70, 106, 0.2);
    border-radius: 4px;
    position: relative;
    left: 77px;
}

mat-icon{
    color: #EEF3F4;
}

::ng-deep.cdk-overlay-pane{
    transform: translate(0px, -35px);
}

.my-fab {
    width: 48px;
    height: 48px;
    line-height: 16px;
    background: #365158;
    left: 12px;    

    mat-icon{
        color: #E8ECE8;;
        position: absolute;
        left: 25%;
        right: 16.66%;
        top: 20.41%;
        bottom: 8.34%;

    }
}

.buttonMenu{
    height: 30px;
    font-family: Barlow;  
    font-size: 12px;
    line-height: 5px; 
    color: #F8F8F8;
}

.aSubMenu{
    margin-left: 15px;
    height: 30px;
    font-family: Barlow;
    font-style: normal;
    font-size: 10px;
    color: #C3C8C3;
}

mat-sidenav-container{
    width: 72px;
    height: 100%;
    background: #4D666A;
}

.menu-button {
    height: 52px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

.sidebar-divider{
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;   
    margin-bottom: 72px;
    margin-top: 50px;
}

.sidebar-footer {
    position: absolute;
    display: flex;
    bottom: 10px;   
}

.info{
    position: absolute;    
    display: flex;
    bottom: 0;
    margin-bottom:90px;
}

.info2{
    position: absolute;
    display: flex;
    bottom: 0;
    margin-bottom: 150px;
}

.example-container {
    height: 100%;
  }

  mat-drawer{
    width: 72px;
  }

  .matMenu{
      position: inherit;
  }